@page "/pizzas/create"
@page "/pizzas/edit/{PizzaId:int}"
@using Mds.Blazor.Web.Services.Models

<div class="edit-pate">
    <EditForm Model="this.pizza" OnValidSubmit="this.OnValidSubmitHandler">

        <DataAnnotationsValidator />

        <div class="form-group">
            <label for="name">Name</label>
            <InputText class="form-control" id="name" @bind-Value="this.pizza.Name" />
            <ValidationMessage For="(() => this.pizza.Name)" />
        </div>

        <div class="form-group">
            <label for="pate">Pate</label>
            <InputSelect class="form-control" id="pate" @bind-Value="this.pizza.PateId">
                @foreach(var pate in availablePates)
                {
                    <option value="@pate.Id">@pate.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="(() => this.pizza.PateId)" />
        </div>

        <div class="form-group">
            <label for="ingredients">Name</label>
            <InputSelect class="form-control" id="ingredients" @bind-Value="this.pizza.IngredientsIds" multiple>
                @foreach (var ingredient in availableIngredients)
                {
                    <option value="@ingredient.Id">@ingredient.Name</option>
                }
            </InputSelect>
            <ValidationMessage For="(() => this.pizza.IngredientsIds)" />
        </div>

        <div class="form-group">
            <label for="size">Size</label>
            <InputSelect class="form-control" id="size" @bind-Value="this.pizza.Size">
                @foreach (var size in Enum.GetValues<PizzaSize>())
                {
                    <option value="@size">@size</option>
                }
            </InputSelect>
            <ValidationMessage For="(() => this.pizza.Size)" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
</div>
